.card {
  border-radius: 12px;
}

.card:hover {
  transition: 0.2s;
  transform: scale(1.01);
}

header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}

header h2 {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #0d6efd;
}
